@page "/Home"

<!doctype html>
<html lang="en">
<head>
    <link href="~/css/style.css" rel="stylesheet"/>
    <meta charset="utf-8">
    <title>Bootstrap demo</title>
</head>
<body>


<div id="reta">

    <div id="quadrado1">

        <div id="partida">
            <p id="lI">Local de Inicio</p>

            <p id="in1"> <i class="bi bi-crosshair"></i> Localização Atual</p>
        </div>

        <div id="final">
            <p id="lF">Local Final</p>

            <input type="text" class="in2" id="localFinal">INSERIR</input>
        </div>
    </div>

    <button class="buttonBuscar" onclick="buscar()">BUSCAR</button>

</div>


<div id="telas">

    <img id="home" src="~/css/home_24dp_000000.png" alt="Home"/>

    <img id="star" src="~/css/grade_24dp_000000.png" alt="Favoritos"/>

</div>

<!--<script type="module" src="js/GetLocation.js"></script>-->

<script src="js/buscarRota.js"></script>



<script>
        fetch('/SpTrans/SpTrans/Autenticate')
</script>


    
</body>

</html>
<!-- 
ORDEM DE AÇÃO:
 
RECEBER LOCALIZAÇÃO ATUAL: executar:
function startWatching()

RECEBER adress QUE ESTÁ NO CAMPO LOCAL FINAL E EXECUTAR:
[Route("ConvertAdressSave")]
[HttpPost]
public async Task<IActionResult> ConvertAdressSave([FromBody] String adress)

EXECUTAR ROTAS ArmazenarRotaFinal:
[Route("buscarRota")]
[HttpPost]
public async Task<IActionResult> ArmazenarRotaFinal()

EXECUTAR EXIBIR ROTAS:
[HttpGet]
[Route("Controller/Rotas/ExibirRotas")]
public IActionResult ExibirRotas()


--> 

<