@page "/Home"

<!doctype html>
<html lang="en">
<head>
    <link href="~/css/style.css" rel="stylesheet" />
    <meta charset="utf-8">
    <title>Bootstrap demo</title>
</head>
<body>

    
    <div id="reta">

        <div id="quadrado1">
            
            <div id="partida">
                <p id="lI">Local de Inicio</p>

                <p id="in1"> INSERIR</p>
            </div>
            
            <div id="final">
                <p id="lF">Local Final</p>

                <p id="in2">INSERIR</p>
            </div>
        </div>

        <button id="buttonBuscar">BUSCAR</button>

    </div>

    <div id="telas">

        <img id="home" src="~/css/home_24dp_000000.png" alt="Home" />

        <img id="star" src="~/css/grade_24dp_000000.png" alt="Favoritos" />

    </div>




</body>

</html>


    

<